In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
%matplotlib inline

In [4]:
# Load the data
data = pd.read_csv('data/Local_Area_Unemployment_Statistics__Beginning_1976.csv')
data[:10]

,Area,Year,Month,Labor Force,Employed,Unemployed,Unemployment Rate
0,New York State,2018,1,9660300,9165100,495200,5.1%
1,New York State,2017,1,9619800,9115700,504100,5.2%
2,New York State,2017,2,9678400,9168700,509700,5.3%
3,New York State,2017,3,9711000,9258000,453000,4.7%
4,New York State,2017,4,9687000,9265600,421400,4.4%
5,New York State,2017,5,9690500,9261900,428600,4.4%
6,New York State,2017,6,9794300,9341300,453000,4.6%
7,New York State,2017,7,9858500,9372700,485700,4.9%
8,New York State,2017,8,9767100,9285400,481800,4.9%
9,New York State,2017,9,9743400,9296700,446700,4.6%

In [6]:
dates = data.apply(lambda x: pd.Timestamp('%d-%d-01' % (x.Year, x.Month)), axis = 1)
d = pd.concat((data, pd.DataFrame({'date': dates})), axis = 1)

In [7]:
# Plot Ny state Labor force Employed and Unemployed
ny = d[d.Area == 'New York State']

In [8]:
plt.plot(ny.date, ny['Labor Force'])

AttributeError: module 'matplotlib.pyplot' has no attribute 'pyplot'